modules = ["bash", "nodejs-20", "python-3.11", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["gh", "unzip", "lynx", "w3m", "iproute2", "nettools", "firefox", "vim"]

[userenv]

[userenv.shared]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development pnpm tsx server/index.ts"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/index.cjs"]
build = ["pnpm", "run", "build"]

[[ports]]
localPort = 3128

[[ports]]
localPort = 4649
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 80

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 6080
externalPort = 3001
